/*Filter section*/
.Drugs__Filterbox {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 2em 0 1rem;
}

.Drugs__Filterbox__Label {
	margin-right: 0.5em;
}

.Drugs__Filterbox__PageLabel {
	display: block;
	margin-left: auto;
	color: var(--warning);
	font-size: calc(var(--font-size) * 0.7);
}

/*Table section*/
.Drugs__TableSection {
	overflow-x: auto;
}

.Drugs__TableSection::-webkit-scrollbar {
	height: 5px;
}

.Drugs__TableSection::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: var(--bg-glass);
}

.Drugs__TableSection td:last-child {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.Drugs__ActionIcon {
	width: 30px;
	height: 30px;
	color: var(--danger);
	border-radius: 50%;
	transition: var(--transition-speed);

	display: grid;
	place-content: center;
}

.Drugs__ActionIcon:hover {
	background-color: var(--bg-glass);
}

.Drugs__EditIcon {
	color: var(--success);
}

/*Pagination Btns*/
.Drugs__PaginationBtns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	margin-top: 1em;
}

.Drugs__PaginationBtn {
	/*display: flex;*/
	/*justify-content: center;*/

	border: 1px solid var(--warning);
	color: var(--warning);
	transition: var(--transition-speed);
}

.Drugs__PaginationBtn + .Drugs__PaginationBtn {
	margin-left: 0.5em;
}