.BaseTable {
	width: 100%;
	margin-top: 1rem;
	text-align: center;
}

.BaseTable tr {
	background-color: rgba(255, 255, 255, 0.15);
}

.BaseTable td,
.BaseTable th {
	padding: 0.5rem;
}

.BaseTable th {
	color: var(--warning);
	padding: 0.8rem 0.5rem;
}

.Stripped {
	border-top: 1px solid red;
}